<section class="about">
  <div class="about__stroke">
    <div class="about__stroke_text">получить скидку 10% >>> получить скидку 10% >>> получить скидку 10% \\\\\</div>
    <div class="about__stroke_text">получить скидку 10% >>> получить скидку 10% >>> получить скидку 10% \\\\\</div>
  </div>
  <div class="container">
    <div class="about__dignity">
      <div class="about__dignity_item">
        <img src="" alt="" class="about__dignity_icon">
        <p class="about__dignity_text">
          Доказанная эффективность
        </p>
      </div>
      <div class="about__dignity_item">
        <img src="" alt="" class="about__dignity_icon">
        <p class="about__dignity_text">
          Новая дозировка
          100 мг + 900 мг
        </p>
      </div>
      <div class="about__dignity_item">
        <img src="" alt="" class="about__dignity_icon">
        <p class="about__dignity_text">
          Удобный прием.
          Одна таблетка в сутки*
        </p>
      </div>
    </div>
    <!-- ./about__dignity -->
    <div class="about__description">
      <div class="about__instruction">
        <h2 class="about__instruction_title">О препарате</h2>
        <p class="about__instruction_text">
          Венарус показан для терапии симптомов хронических заболеваний вен (устранения
          и облегчения симптомов).
        </p>
        <a href="" class="about__instruction_link">Подробнее ></a>
      </div>
      <div class="about__worth">
        <div class="about__worth_item">
          <img src="" alt="" class="about__worth_icon">
          <p class="about__worth_text">
            Помогает
            предотвратить судороги
          </p>
        </div>
        <div class="about__worth_item">
          <img src="" alt="" class="about__worth_icon">
          <p class="about__worth_text">
            Способствует
            снижению тяжести
            в ногах
          </p>
        </div>
        <div class="about__worth_item">
          <img src="" alt="" class="about__worth_icon">
          <p class="about__worth_text">
            Способствует снижению
            болевых ощущений
          </p>
        </div>
      </div>
    </div>
    <!-- ./about__description -->
  </div>
</section>
<!-- ./about -->