<section class="buy">
  <div class="buy__background"></div>
  <div class="container">
    <div class="buy__wrapper">
      <div class="buy__description">
        <h2 class="buy__title">Где <br>
          купить</h2>
        <p class="buy__text">
          Ветонизирующее средство ВЕНАРУС вы можете
          приобрести в аптеках вашего города
        </p>
      </div>
      <div class="buy__places">
        <picture class="buy__img">
          <source srcset="/img/venarus_2.avif">
          <source srcset="/img/venarus_2.webp">
          <img src="/img/venarus_2.png" alt="venarus">
        </picture>
        <picture class="buy__img">
          <source srcset="/img/venarus_3.avif">
          <source srcset="/img/venarus_3.webp">
          <img src="/img/venarus_3.png" alt="venarus">
        </picture>
        <div class="buy__links">
          <a href="" class="buy__place">apteka.ru</a>
          <a href="" class="buy__place">366.ru</a>
          <a href="" class="buy__place">stolichki.ru</a>
        </div>
      </div>
    </div>
  </div>
</section>