<section class="expert">
  <div class="container">
    <div class="expert__wrapper">
      <div class="expert__description">
        <h2 class="expert__title">Мнение специалистов</h2>
        <p class="expert__text">
          Фармакотерапия —
          неотъемлемый компонент современного лечения хронического заболевания вен.
        </p>
      </div>
      <!-- ./expert__description -->

      <!--   TODO: дописать слайдер   -->
      <div class="expert__slider slider-expert">
        <div class="slider-expert__wrapper">
          <div class="slider-expert__item">
            <img src="/img/slide_preview.jpg" alt="preview">
          </div>
          <div class="slider-expert__item"></div>
          <div class="slider-expert__item"></div>
        </div>
      </div>
      <!-- ./expert__slider slider-expert" -->
    </div>
    <!-- ./expert__wrapper -->
  </div>
</section>