<footer class="footer">
  <div class="footer__banner">
    <p class="footer__banner_text">
      Имеются противопоказания, необходимо ознакомиться
      с инструкцией или получить консультацию специалиста
    </p>
  </div>
  <!-- ./footer__banner -->
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__item">
        <a href="" class="footer__error">Сообщить о нежелательном явлении</a>
      </div>
      <div class="footer__item">
        <a href="" class="footer__cookie">Условия пользования сайтом и файлами Cookies</a>
        <p class="footer__address">
          г. Москва, ул. Шаболовка, д. 31, стр. 11
          Телефон: +7 (495) 555-55-55
        </p>
      </div>
      <div class="footer__item">
        <div class="footer__socials">
          <a href="" class="footer__social_link">
            <img src="" alt="" class="footer__social_icon">
          </a>
          <a href="" class="footer__social_link">
            <img src="" alt="" class="footer__social_icon">
          </a>
        </div>
        <div class="footer__logo">
          <img src="" alt="" class="footer__logo_icon">
          <p class="footer__logo_text">
            Создание сайтов Фарм-студия №1 в Рунете
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>