<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="index.html" class="header__logo_link">
        <img class="header__logo" src="img/logo.svg" alt="logo"/>
      </a>
      <div class="header__service">
        <button class="header__pay btn-reset">Где купить</button>
        <!-- /.header__pay -->

        <!-- TODO: make working burger -->

        <nav class="header__nav nav">
          <div class="nav__burger">
            <span class="nav__burger_icon">
              <img alt="wave" src="img/burger_wave.svg"/>
            </span>
            <span class="nav__burger_icon">
              <img alt="wave" src="img/burger_wave.svg"/>
            </span>
            <span class="nav__burger_icon">
              <img alt="wave" src="img/burger_wave.svg"/>
            </span>
          </div>
          <!-- /.nav__burger -->
          <ul class="header__menu menu list-reset">
            <li class="menu__item">
              <a class="menu__link" href="">Где купить</a>
            </li>
            <!-- /.menu__item -->
            <li class="menu__item">
              <a class="menu__link" href="">О препарате</a>
            </li>
            <!-- /.menu__item -->
            <li class="menu__item">
              <a class="menu__link" href="">О варикозе</a>
            </li>
            <!-- /.menu__item -->
            <li class="menu__item">
              <a class="menu__link" href="">Решение</a>
            </li>
            <!-- /.menu__item -->
            <li class="menu__item">
              <a class="menu__link" href="">Специалистам</a>
            </li>
            <!-- /.menu__item -->
          </ul>
          <!-- /.header__menu menu -->
        </nav>
        <!-- /.header__nav -->
      </div>
      <!-- /.header__service -->
    </div>
    <!-- /.header__wrap -->
  </div>
</header>
