<section class="hero">
  <svg class="hero__bg" width="1440" height="761" viewBox="0 0 1440 761" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1150 8.61221C843.181 86.7086 842.5 458.768 441.962 309.552C303.655 258.027 114.83 260.865 -2 309.552V402.142C-2 402.142 307 260.5 606.5 613.5C906 966.5 1440 575 1440 575V93.9001C1322.5 37.0415 1272.82 -22.6491 1150 8.61221Z"
          fill="url(#paint0_linear_0_41)"/>
    <defs>
      <linearGradient id="paint0_linear_0_41" x1="1318" y1="521.112" x2="187.078" y2="644.159"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#590D56"/>
        <stop offset="1" stop-color="#8C1688"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">Надёжный помощник в лечении варикоза</h1>
      <div class="hero__slider slider">
        <div class="slider__wrap">
          <div class="slider__item">
            <picture class="slider__img">
              <source srcset="/img/venarus_1.avif">
              <source srcset="/img/venarus_1.webp">
              <img src="/img/venarus_1.png" alt="venarus">
            </picture>
          </div>
          <div class="slider__item">
            <picture class="slider__img">
              <source srcset="/img/venarus_2.avif">
              <source srcset="/img/venarus_2.webp">
              <img src="/img/venarus_2.png" alt="venarus">
            </picture>
          </div>
          <div class="slider__item">
            <picture class="slider__img">
              <source srcset="/img/venarus_3.avif">
              <source srcset="/img/venarus_3.webp">
              <img src="/img/venarus_3.png" alt="venarus">
            </picture>
          </div>
          <div class="slider__btns">
            <button class="slider__btn btn-reset slider__btn_left">
              <img class="slider__btn_img" src="/img/slide_arrow_left.svg" alt="arrow">
            </button>
            <button class="slider__btn btn-reset slider__btn_right">
              <img class="slider__btn_img" src="/img/slide_arrow_right.svg" alt="arrow">
            </button>
          </div>
          <button class="slider__btn_pay btn-reset">Где купить ></button>
        </div>
        <!-- ./slider__wrap -->
      </div>
      <!-- ./slider -->
      <ul class="hero__anchors anchors list-reset">
        <li class="anchors__item">
          <a class="anchors__link" href="">
            <svg class="anchors__play">
              <use xlink:href="./assets/icons/sprite.svg#play_1"></use>
            </svg>
            <span class="anchors__link_text">Схема приема</span>
          </a>
        </li>
        <li class="anchors__item">
          <a class="anchors__link" href="">
            <svg class="anchors__instruction">
              <use xlink:href="./assets/icons/sprite.svg#instruction"></use>
            </svg>
            <span class="anchors__link_text">Инструкция</span>
          </a>
        </li>
        <li class="anchors__item">
          <a class="anchors__link" href="">
            <svg class="anchors__place">
              <use xlink:href="./assets/icons/sprite.svg#place"></use>
            </svg>
            <span class="anchors__link_text">Где купить</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__banner">
    <p class="hero__banner_text">
      Имеются противопоказания, необходимо ознакомиться
      с инструкцией или получить консультацию специалиста
    </p>
    <img class="hero__banner_close" src="/img/close.svg" alt="close">
  </div>
  <!-- ./hero__banner -->
</section>
<!-- ./hero -->
