<section class="info">
  <div class="container">
    <div class="info__wrapper">
      <h2 class="info__title">Полезная информация</h2>
      <div class="info__description">
        <div class="info__cards">
          <a href="" class="info__card-link">
            <div class="info__card card-info">
              <h3 class="card-info__title">Профилак-
                тические упражнения</h3>
              <div class="card-info__filter"></div>
              <picture class="card-info__img">
                <source srcset="/img/profilactic.avif">
                <source srcset="/img/profilactic.webp">
                <img src="/img/profilactic.jpg" alt="profilactic">
              </picture>
            </div>
          </a>
          <a href="" class="info__card-link">
            <div class="info__card card-info">
              <h3 class="card-info__title">Диагностика и способы лечения</h3>
              <div class="card-info__filter"></div>
              <picture class="card-info__img">
                <source srcset="/img/diagnostic.avif">
                <source srcset="/img/diagnostic.webp">
                <img src="/img/diagnostic.jpg" alt="diagnostic">
              </picture>
            </div>
          </a>
          <a href="" class="info__card-link">
            <div class="info__card card-info">
              <h3 class="card-info__title">Планы по питанию </h3>
              <div class="card-info__filter"></div>
              <picture class="card-info__img">
                <source srcset="/img/plans.avif">
                <source srcset="/img/plans.webp">
                <img src="/img/plans.jpg" alt="plans">
              </picture>
            </div>
          </a>
          <a href="" class="info__card-link">
            <div class="info__card card-info">
              <h3 class="card-info__title">Факты <br>
                о варикозе</h3>
            </div>
          </a>
        </div>
        <!-- ./info__cards -->
        <div class="info__more">
          <a href="" class="info__more_link">Подробнее ></a>
        </div>
      </div>
    </div>
  </div>
</section>