.about {
  padding-bottom: 100px;

  &__stroke {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 15px;
    width: 3975px;
    height: 95px;
    padding: 16px 0 22px;
    border-top: 1px solid $loulou;
    border-bottom: 1px solid $loulou;

    &_text {
      width: 2000px;
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      text-transform: uppercase;
      color: $loulou;
      animation: 50s linear stroke-to-right infinite;
    }
  }

  &__dignity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 108px 0 128px;

    &_item {
      position: relative;
      width: 100%;
      max-width: 260px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Merriweather';
      font-weight: 700;
      font-size: 16px;
      line-height: 154.8%;

      &:nth-child(3) {
        max-width: 360px;
      }

    }

    &_icon {
      width: 67px;
      height: 67px;
      flex-shrink: 0;
      fill: transparent;
      stroke: $loulou;
      margin-right: 30px;

      &-sm {
        position: absolute;
        bottom: 10px;
        right: -6px;
        width: 30px;
        height: 30px;
        fill: transparent;
        stroke: $loulou;
        cursor: pointer;
      }
    }

    &_text {

    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__instruction {
    width: 100%;
    max-width: 260px;

    &_title {
      font-family: 'Merriweather';
      font-weight: 700;
      font-size: 30px;
      line-height: 120%;
      color: $black;
      margin-bottom: 45px;
    }

    &_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 154.8%;
      color: $text-light;
      margin-bottom: 15px;
    }

    &_link {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: underline;
      color: $loulou;
    }
  }

  &__worth {
    width: 100%;
    max-width: 848px;

    &_item {
      display: flex;
      align-items: center;
      padding: 30px 30px 30px 98px;
      border-top: 1px solid $loulou;

      &:nth-last-child(1) {
        border-bottom: 1px solid $loulou;
      }

      &:nth-child(2) {
        flex-direction: row-reverse;

        & .about__worth_icon {
          margin-left: 48px;
        }
      }
    }

    &_icon {
      width: 134px;
      height: 134px;
    }

    &_text {
      width: 100%;
      max-width: 344px;
      margin-left: 60px;
      font-weight: 300;
      font-size: 30px;
      line-height: 100%;
      color: $black;
    }
  }
}

@keyframes stroke-to-right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}