.footer {
  &__banner {
    padding: 25px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $banner-bg;

    &_text {
      width: 100%;
      max-width: 1260px;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    padding: 66px 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    max-width: 300px;
  }

  &__error,
  &__cookie {
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-decoration-line: underline;
    color: $boulder;
    margin-bottom: 45px;
  }

  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
  }

  &__socials {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 36px;
  }

  &__social {
    &_link {
      display: block;
      width: 24px;
      height: 24px;

      &:nth-child(1) {
        width: 32px;
        height: 20px;
      }
    }

    &_icon {

    }
  }

  &__logo {
    display: flex;
    gap: 15px;

    &_icon {
    }

    &_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $boulder;
    }
  }
}