html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;
  color: $text;
}

.body__page {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: $white;
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.3s ease-in-out;

  &.overlay--active {
    visibility: visible;
  }
}