//* base
$font-family: 'Roboto', sans-serif;
$content-width: 1140px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// = btn
$btn-radius: 33.5px;
$btn-sm-radius: 32px;

// = colors
$white: #fff;
$black: #000;
$text: #242424;
$text-light: #777;
$gray: #828282;
$boulder: #7a7a7a;
$loulou: #47093E;
